<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Choose Python{% endblock %}</title>
    <link rel="stylesheet" href="/static/style.css">
    {% block head %}{% endblock %}
  </head>
  <body>
    <div id="container">
      <header>
        <div id="upper_right">
          {% if user.is_authenticated %}
            <a href="{% url account_you %}">{{ user }}</a>
          {% else %}
            <a href="{% url account_login %}">Log in</a>
          {% endif %}
        </div>
        <div><a href="{% url home %}">Choose Python</a> / 
          <a href="{% url gym %}">Exercises</a>
          {% if user.is_authenticated %}
          / 
          <a href="{% url desk %}">Write your own</a>
          {% endif %}
        </div>
      </header>
      <div id="main">
        {% block main %}{% endblock %}
      </div>
      <footer>
        <p>&copy; 2011&ndash;2012, <a href='http://nedbatchelder.com'>Ned Batchelder</a></p>
      </footer>
    </div>
  </body>
</html>
