body, html {
    font-family: Georgia, serif;
}
body {
    background: #eee;
    margin: 0;
}
#container {
    margin: 0 auto;
    max-width: 55em;
}
header {
    width: 100%;
    background: #66f;
    color: #eef;
    margin: 0;
    padding: .5em 1em;
    border-bottom: 1px solid #ee0;
    font-family: Verdana, sans-serif;
}
header p {
    font-size: 100%;
    margin: 0;
    padding: 0;
}
header p a {
    text-decoration: none;
    color: inherit;
}
header p a:hover {
    text-decoration: underline;
}
footer {
    width: 100%;
    background: white;
    margin: 0;
    padding: .5em 1em;
    font-family: Verdana, sans-serif;
}
footer p {
    font-size: 75%;
    color: #999;
    text-align: right;
    margin: 0;
    padding: 0;
}
#main {
    width: 100%;
    background: white;
    margin: 0;
    padding: 2em 1em;
}
p, pre {
    line-height: 1.3;
    font-size: 120%;
}
pre {
    margin: 1em 3em;
    padding: 1em 1em;
    background: #eee;
}
h1 {
    font-size: 140%;
}
h2 {
    font-size: 120%;
}
.results p {
    padding: .5em 1em;
}
.results p.OK {
    background: #cfc;
}
.results p.FAIL {
    background: #fcc;
}
#editor {
    font-size: 120%;
    width: 800px;
    height: 300px;
}
.errorline { background: #fcc !important;}
.CodeMirror { 
    border: 2px solid #cccccc; 
    background: #ffc;
    font-size: 120%;
}
.CodeMirror-scroll {
    height: auto;
    min-height: 8em;
    overflow-y: hidden;
    overflow-x: auto;
    width: 100%;
}

