body, html {
    font-family: Georgia, serif;
}
body {
    background: #eee;
    margin: 0;
}
#container {
    margin: 0 auto;
    max-width: 55em;
}
header {
    width: 100%;
    background: #66f;
    color: #eef;
    margin: 0;
    padding: .5em 1em;
    border-bottom: 2px solid #ccc;
    font-family: Verdana, sans-serif;
}
header div {
    font-size: 100%;
    margin: 0;
    padding: 0;
}
header a {
    text-decoration: none;
    color: inherit;
}
header a:hover {
    text-decoration: underline;
}
header div#upper_right {
    float: right;
}
footer {
    width: 100%;
    background: white;
    margin: 0;
    padding: .5em 1em;
    font-family: Verdana, sans-serif;
}
footer p {
    font-size: 75%;
    color: #999;
    text-align: right;
    margin: 0;
    padding: 0;
}
footer a {
    text-decoration: none;
    color: inherit;
}
footer a:hover {
    text-decoration: underline;
}
#main {
    width: 100%;
    background: white;
    margin: 0;
    padding: 2em 1em 1em 1em;
}
p, pre {
    line-height: 1.3;
    font-size: 120%;
}
pre {
    font-family: "Lucida Console", monospace;
    margin: 1em 3em;
    padding: .5em 1em;
    border-radius: .3em;
    background: #eee;
}
code {
    font-family: "Lucida Console", monospace;
}
h1 {
    font-size: 140%;
}
h2 {
    font-size: 120%;
}
ul { 
    font-size: 120%;
}

/* Pages */
ul.next li a {
    text-decoration: none;
    color: inherit;
}

ul.next li a:hover {
    text-decoration: underline;
    color: blue;
}

/* Exercises */
.results p {
    padding: .5em 1em;
}
.results p.OK {
    background: #cfc;
}
.results p.FAIL {
    background: #fcc;
}
.results p .did {
    font-style: italic;
    margin-left: 2em;
}

/* Editing */
textarea {
    width: 100%;
    height: 350px;
}
#editor {
    font-size: 120%;
    width: 800px;
    height: 300px;
}
.errorline { background: #fcc !important;}
.CodeMirror { 
    border: 2px solid #cccccc; 
    background: #ffc;
    font-size: 120%;
}
.CodeMirror-scroll {
    height: auto;
    min-height: 8em;
    overflow-y: hidden;
    overflow-x: auto;
    width: 100%;
}
.CodeMirror-lines {
    font-family: "Lucida Console", monospace;
}
fieldset {
    border: none;
    margin: 0;
    padding: 0;
}
div.field {
    margin: 1em 0;
}
div.ctrlHolder {
    margin: 1em 0;
}
div.widget {
    margin: 0 0 0 8em;
}
label {
    clear: both;
    float: left;
    width: 7em;
    text-align: right;
}
label div.explain {
    padding-top: 1em;
    font-size: 80%;
    line-height: 1.50;
    font-style: italic;
    color: #888;
}
