{# An override of the allauth account/signup.html template. #}
{% extends "base.html" %}

{% load i18n %}
{% load uni_form_tags %}

{% block title %}Signup{% endblock %}

{% block main %}
    <h1>Sign Up</h1>
    
    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% else %}
        <p>Already have an account? <a href="{{ login_url }}">Sign in</a>.</p>
        
        <form class="signup uniForm" id="signup_form" method="post" action="{% url account_signup %}">
            {% csrf_token %}
            <fieldset class="inlineLabels">
                {{ form|as_uni_form }}
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <div class="buttonHolder">
                    <button class="primaryAction" type="submit">Sign Up &raquo;</button>
                </div>
            </fieldset>
        </form>
        
    {% endif %}
{% endblock %}
