{% extends "choosy/templates/base.html" %}
{% load choosy %}

{% block title %}Exercise: {{ ex.name }}{% endblock %}

{% block head %}
  <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js'></script>
  <script src='/static/codemirror-compressed.js' type="text/javascript" charset="utf-8"></script>
  <script src='/static/python.js' type="text/javascript" charset="utf-8"></script>
  <script src='/static/choosy.js' type="text/javascript" charset="utf-8"></script>
  <link rel="stylesheet" href="/static/codemirror.css">
  <link rel="stylesheet" href="/static/eclipse.css">
  <script>
      $(function() {
          choosy.set_csrf_token("{{ csrf_token }}");
          var code_editor = choosy.make_py_editor($("#editor"));
          $('.run_code').click(
              function(ev) {
                  code_editor.save();
                  var btn = ev.target;
                  var par = $(btn).parents(".exercise");
                  choosy.run_python("{{ ex.id }}", par.find(".code"), "", par.find(".stdout"), par.find(".results"));
              }
          );
          $('.highlight').click(
              function(ev) {
                  codemirror.setLineClass(2, "errorline");
              }
          );
      });
  </script>
{% endblock head %}

{% block main %}
  {{ ex.text|clean_html }}

  <div class='exercise'>
    <textarea class='code' id='editor'></textarea>
    <p><input class='run_code' type='button' value='Run it'></input></p>
    <textarea class='stdout' style='display:none' cols='80' rows='10'></textarea>
    <div class='results'></div>
  </div>
{% endblock main %}
