{% extends "choosy/templates/base.html" %}
{% load choosy %}

{% block title %}Exercise: {{ ex.name }}{% endblock %}

{% block head %}
  <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js'></script>
  <script src='/static/codemirror-compressed.js' type="text/javascript" charset="utf-8"></script>
  <script src='/static/python.js' type="text/javascript" charset="utf-8"></script>
  <script src='/static/choosy.js' type="text/javascript" charset="utf-8"></script>
  <link rel="stylesheet" href="/static/codemirror.css">
  <link rel="stylesheet" href="/static/eclipse.css">
  <script>
      $(function() {
          choosy.set_csrf_token("{{ csrf_token }}");
          $('.highlight').click(
              function(ev) {
                  codemirror.setLineClass(2, "errorline");
              }
          );
      });
  </script>
{% endblock head %}

{% block main %}
{% include "gym/templates/oneexercise.html" %}
{% endblock main %}
