<!DOCTYPE html>
<html>
  <head>
    <title>Exercise: {{ form.instance.name }}</title>
      <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js'></script>
      <script src='/static/codemirror-compressed.js' type="text/javascript" charset="utf-8"></script>
      <script src='/static/python.js' type="text/javascript" charset="utf-8"></script>
      <link rel="stylesheet" href="/static/codemirror.css">
      <link rel="stylesheet" href="/static/eclipse.css">
        <script>
            choosepython = {
            };

            $(function() {
                choosepython.codemirror = CodeMirror.fromTextArea($("#id_check")[0], {
                    mode: {
                        name: "python",
                        version: 2,
                        singleLineStringErrors: true
                        },
                    theme: "eclipse",
                    lineNumbers: true,
                    tabMode: "shift",
                    indentUnit: 4
                    });
            });
        </script>
<script language="javascript" type="text/javascript" src="/static/tiny_mce/tiny_mce.js"></script>
<script language="javascript" type="text/javascript">
  tinyMCE.init({
    theme : "advanced",
    mode: "exact",
    elements : "id_text",
    theme_advanced_toolbar_location : "top",
    theme_advanced_buttons1 : "bold,italic,underline,|,"
    + "bullist,numlist,outdent,indent,"
    + "link,unlink,|,"
    + "undo,redo,cleanup,code,charmap",
    theme_advanced_buttons2 : "",
    theme_advanced_buttons3 : "",
    height:"350px",
    width:"600px"
});

</script>

  </head>
<body>
{% if form.instance.id %}
<h1>Edit Exercise</h1>
{% else %}
<h1>Add Exercise</h1>
{% endif %}

<form action="." method="post">
{% csrf_token %}
<table>
{{ form.as_table }}
</table>
<input type="submit" value="Save" />
</form>
</body>
</html>
