{% extends "choosy/templates/base.html" %}
{% block title %}Exercise: {{ form.instance.name }}{% endblock %}
{% block head %}
  <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js'></script>
  <script src='/static/codemirror-compressed.js' type="text/javascript" charset="utf-8"></script>
  <script src='/static/python.js' type="text/javascript" charset="utf-8"></script>
  <script src="/static/tiny_mce/tiny_mce.js" type="text/javascript" charset="utf-8"></script>
  <script src='/static/choosy.js' type="text/javascript" charset="utf-8"></script>
  <link rel="stylesheet" href="/static/codemirror.css">
  <link rel="stylesheet" href="/static/eclipse.css">
  <script>
  $(function() {
      choosy.set_csrf_token("{{ csrf_token }}");
      var check_editor = choosy.make_py_editor($("#id_check"));
      var solution_editor = choosy.make_py_editor($("#id_solution"));
      choosy.make_html_editor("id_text");

      $('.run_code').click(
          function(ev) {
              check_editor.save();
              solution_editor.save();
              var btn = ev.target;
              var par = $(btn).parents(".exercise");
              choosy.run_python("", $("#id_solution"), $("#id_check"), par.find(".stdout"), par.find(".results"));
          }
      );
  });
  </script>
{% endblock head %}

{% block main %}
  {% if form.instance.id %}
    <h1>Edit Exercise</h1>
  {% else %}
    <h1>Add Exercise</h1>
  {% endif %}

  <form action="." method="post">
    {% csrf_token %}
    <fieldset>
      <div class='field'>
        {{ form.name.errors }}
        <label for="id_name">Name</label>
        <div class='widget'>{{ form.name }}</div>
      </div>
      <div class='field'>
        {{ form.slug.errors }}
        <label for="id_name">Slug</label>
        <div class='widget'>{{ form.slug }}</div>
      </div>
      <div class='field'>
        {{ form.text.errors }}
        <label for="id_text">Text<div class="explain">Explanation of the problem</div></label>
        <div class='widget'>{{ form.text }}</div>
      </div>
      <div class='field'>
        {{ form.check.errors }}
        <label for="id_check">Check<div class="explain">Code you provide to check the student's answer</div></label>
        <div class='widget'>{{ form.check }}</div>
      </div>
      <div class='field'>
        {{ form.solution.errors }}
        <label for="id_solution">Solution<div class="explain">A solution to the exercise</div></label>
        <div class='widget'>{{ form.solution }}</div>
      </div>

      <div class='field'>
        <div class='widget'><input type="submit" value="Save" /></div>
      </div>
    </fieldset>
  </form>

  <hr>

  <div class='exercise'>
    <div class='field'>
      <div class='widget'><input class='run_code' type="button" value="Test" /></div>
      <textarea class='stdout' style='display:none' cols='80' rows='10'></textarea>
      <div class='results'></div>
    </div>
  </div>
{% endblock main %}
